*~
aria2/dht.dat
config/Clementine/albumcovers/
config/Clementine/clementine.db
config/Clementine/jamendo.db
config/Clementine/networkcache/
config/DjVuLibre
config/SubDownloader/
config/Trolltech.conf
config/anjuta
config/banshee*
config/bleachbit/
config/chromium/
config/enchant/
config/gaupol
config/ghb/Activity.log.*
config/ghb/EncodeLogs/
config/ghb/ghb.pid.*
config/ghb/queue.*
config/gsmartcontrol/
config/gtk-2.0/
config/gummi/
config/menus/
config/monitors.xml
config/qBittorrent/*resume.conf
config/smplayer/
config/totem
config/transmission/dht.dat
config/user-dirs.*
elinks/bookmarks
elinks/cookies
elinks/globhist
elinks/gotohist
fluxbox/apps
fluxbox/lastwallpaper
fluxbox/log
fluxbox/menu
fluxbox/overlay
fluxbox/slitlist
fluxbox/windowmenu
gkrellm2/data/
gnupg/random_seed
gstreamer-*/*
gtkpod/backupDB*
gtkpod/local*
gtkpod/podcasts*
gtkpod/session/*
mutt/certificates
pim/*.cache
pim/contacts/*.cache
purple/accels
purple/certificates/x509/tls_peers/*
purple/icons/*
purple/logs/irc/*irc.freenode.net/frigg/*
purple/logs/jabber/*gmail.com/update@identi.ca
purple/status.xml
purple/xmpp-caps.xml
quodlibet/*Dump*.txt
quodlibet/accels
quodlibet/current
quodlibet/feeds
quodlibet/queue
quodlibet/scrobbler_cache
quodlibet/songs
spamassassin/bayes*
spamassassin/sa-compile.cache/
ssh/known_hosts*
xbmc/addons
xbmc/temp
xbmc/userdata/Database
xbmc/userdata/Thumbnails
